[include]
    path = .gitconfig.user

[core]
    editor   = vim
    autocrlf = input

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[difftool]
    prompt = false
[push]
	autoSetupRemote = true
